html, body {
    height: 90%;
    margin: 0;
    border: 0;
}

.wrapper {
    min-height: calc(100vh -190px);
    width: 960px;
    margin-bottom: 20px;
    margin: auto;
}

.container {
    margin-top: 14%;
    margin-bottom: 29px;
    position: relative;
    background: #ffffff;
    border: 0px;
}

h1 {
    background: #cccccc;
    color: #ffffff;
    padding: 25px;
    width: 286px;
    top: -1px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    position: fixed;
    z-index: 2;
}

h2 {
    color: #cccccc;
    position: relative;
    left: 20px;
    top: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #cccccc;
    background: #ffffff;
    top: 18px;
    left: 0;
    width: 99.78%;
    position: fixed;
    font-size: 18px;
    border: 2px solid #4aaaa5;
    z-index: 1;
    font-style: bullsgitSoFrustrated;
}

li {
    float: right;
}

li a {
    display: block;
    color: #cccccc;
    text-align: center;
    padding: 33.5px;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

li a:hover {
    background: #666666;
    height: 98%;
}

p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 32px;
    margin: 0;
}

.bioPic {
    float: left;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#firstBio {    
    right: 0px;
    padding: 30px;
    width: 750px;
}

#moreBio {
    text-align: justify;
    width: 900px;

}

.footer {
    height: 50px;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}