.mainContent {
    width: 960px;
    margin: auto;
    position: relative;
}

h1 {
    background: #cccccc;
    color: #ffffff;
    padding: 40px;
    width: 286px;
    top: 0px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

ul {
    list-style-type: none;
    color: #cccccc;
    top: 0px;
    right: 0px;
    position: absolute;
    font-size: 18px;
    font-style: bullshit;
}

a {
    color: #cccccc;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 32px;
}

#banner {}

.bioPic {
    float: left;
    padding: 20px;
}

#moreBio{
}

.footer {
    background: #666666;
}